global
    log stdout format raw local0 info
    user haproxy
    group haproxy

defaults
    log global
    mode tcp
    log-format "%ci:%cp [%t] %ft %b/%s %Tw/%Tc/%Tt %B %ts %ac/%fc/%bc/%sc/%rc %sq/%bq c_verify=%[ssl_c_verify] c_err=%[ssl_c_err] %hr"
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend mqtts_frontend
    bind *:8883 ssl crt /etc/ssl/certs/server.pem ca-file /etc/ssl/certs/ca.crt verify required
    log global
    option tcplog
    acl allowed_ip src -f /usr/local/etc/haproxy/allowed-ips.txt
    tcp-request connection reject unless allowed_ip

    default_backend mosquitto_mqtts

backend mosquitto_mqtts
    server mosquitto 127.0.0.1:18883 check send-proxy
